body {
 
  background: #0D1A29;
  
}


#timer {
  font-size: 8em;
  font-weight: 600;
  color: yellow;
  text-shadow: 0 0 20px #48C8FF;
 
}
#content {
  font-size: 2em;
  font-weight: 400;
  color: yellow;
  text-shadow: 0 0 20px #48C8FF;
 
}